.footer {
    background-color: $footer-background-color;
}
.section--footer {
    @extend %container;

    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-background-color;
    @media screen and (max-width: 767px) {
        width: 480px;
        padding: 60px 0;
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        width: 768px;
        margin-bottom: 60px;
    }
}
.container__footer {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 76px;
        text-align: center;
    }
}
.contact {
    margin-top: 20px;
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}
.contact__list {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
}
.contact__item:not(:last-child) {
    margin-bottom: 9px;
    @media screen and (max-width: 767px) {
        margin-bottom: 8px;
    }
}

.contact__link {
    color: rgba(255, 255, 255, 0.6);
    @include transition(color);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.contact__item {
    @extend .contact__link;
    color: $primary-background-color;
    letter-spacing: 0.03em;
}
.join__title {
    display: flex;
    color: $primary-background-color;
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join {
    margin-left: 70px;
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: 89px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.join__list {
    display: flex;
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}
.join__item:not(:last-child) {
    margin-right: 10px;
}

.join__link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-background-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include transition(background-color);
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.subscribe {
    margin-left: auto;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 152px;
    }
}
.subscribe__form {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 767px) {
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        margin-top: 60px;
    }
}

.subscribe__title {
    @extend .join__title;
    @media screen and (max-width: 1199px) {
        justify-content: center;
    }
}
.subscribe__data {
    display: block;
    width: 358px;
    height: 50px;
    background-color: $footer-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;

    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    @media screen and (max-width: 1199px) {
        width: 450px;
        margin-bottom: 20px;
    }
}
.subscribe__card {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
.button__subscribe {
    @extend %button;
    display: flex;
    align-items: center;

    fill: $primary-background-color;

    margin-left: 12px;
    padding-left: 29px;
    padding-right: 28px;
    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}
.subscribe__icon {
    margin-left: 10px;
}
