$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-background-color: #c4c4c4;
$icon-color: #afb1b8;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$staff__card__shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$portfolio__button__shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolio__block__shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
